---
export interface Props {
  title?: string;
  favicon?: string;
}

const description =
  "Personal website and blog of Martin Bjeldbak Madsen about computers, books, ideas, running, and whatever else I find interesting";

const { title = "Martin Madsen", favicon = "/favicon.png" } = Astro.props;


import Header from "../components/Header.astro";
import { SEO } from "astro-seo";
import {ViewTransitions} from 'astro:transitions';
---

<!DOCTYPE html>
<html lang="en" class="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href={favicon} />
    <meta name="generator" content={Astro.generator} />
    <SEO
      title={title}
      titleDefault={title}
      description={description}
      charset="utf-8"
      twitter={{
        creator: "@martinbjeldbak"
      }}
    />
    <ViewTransitions />
  </head>
  <body
    class="flex flex-col text-indigo-500 dark:text-indigo-400 min-h-screen bg-indigo-50 dark:bg-indigo-950 antialiased max-w-prose mx-auto"
  >
      <Header />
      <slot />
  </body>
</html>
